.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 16px; /* Згідно з фідбеком */
  position: relative;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto; /* Штовхає контакти вниз */
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contacts .contact-link {
  font-style: normal; /* Прибирає курсив */
  font-size: 20px;
  line-height: 1.2;
}

.mobile-social-list {
  display: flex;
  gap: 40px; /* Відступ між іконками */
}

/* Приховування на десктопах */
@media screen and (min-width: 768px) {
  .mobile-menu { display: none; }
}